/* style.css - Umum untuk seluruh halaman */

body {
    background-color: #f5f5f5;
    margin: 0;
    padding: 0;
}

.navbar {
    background-color: #2d3436;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.navbar .nav-link {
    color: #fff;
    font-weight: 600;
}

.navbar .nav-link:hover {
    color: #dfe6e9;
}

/* Umum untuk footer */
footer {
    background-color: #2d3436;
    color: white;
    text-align: center;
    padding: 20px;
    position: relative;
    bottom: 0;
    width: 100%;
}
